.ak-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ak-field {
    display: flex;
    flex: 1;
    align-self: stretch;
    flex-direction: column;
    margin-bottom: 5px;

    .ak-field-label {
        margin: 10px 0 6px;
        position: relative;

        .ak-field-label-text {
            font-size: 1em;
        }

        .ak-field-required-indicator {
            color: firebrick;
        }
    }

    .ak-field-content {
        display: flex;
        flex-direction: row;
        border: 1px solid white;
        border-radius: 5px 0 0 5px;
        align-items: center;
    }

    .ak-field-icon {
        font-size: 1.2em;
        opacity: 0.5;
        padding: 0.3em 0.8em;
        margin-left: 0;
    }

    .ak-field-input {
        flex: 1;
    }
}

.ak-fieldset {
    display: flex;
    border: none;
    padding: 0;
    margin: 0;
    align-self: stretch;
    flex-direction: column;
    margin-bottom: 10px;

    .ak-fieldset-subset {
        display: flex;
        flex-direction: row;
        align-self: stretch;

        .ak-field {
            margin-right: 10px;

            &:last-child { margin-right: 0; }
        }
    }
}
.ak-input {
    margin: 0;
    font-size: 1em;
    padding: 0.8em 0.5em;
    border: none;
}

.ak-checkbox-group, .ak-toggle-group {
    padding: 0.5em;
    display: flex;
    flex-direction: row;

    .ak-checkbox-icon, .ak-toggle-icon {
        flex-shrink: 0;
        width: 1.5em;
        height: 1.5em;
        padding: 0.25em 0.3em;
        text-align: center;
        font-size: 1.1em;
        cursor: pointer;
    }

    .ak-checkbox-input, .ak-toggle-input {
        flex-shrink: 0;
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }

    .ak-checkbox-description, .ak-toggle-description {
        padding: 0 0.5em;
        cursor: pointer;
        align-self: stretch;
        display: block;
    }
}
.ak-validation-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid currentColor;
    margin: 0.5em 0;
    border-radius: 3px;
    padding: 0.5em 1em;
    transition: all 0.7s;

    .ak-icon {
        margin-right: 0.7em;
        transform: scale(1.3);
        margin-left: 0;
        opacity: 0.6;
        display: block;
        transform-origin: right center;
    }

    .ak-validation-message-text {
        font-weight: normal;
    }

    opacity: 1;
    max-height: 100px;

    &--hidden {
        height: 0;
        margin: 0;
        padding: 0;
        opacity: 0;
        max-height: 0;
    }
}
