.error-boundary-wrapper {
    border-width: 3px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;

    &.full-page-boundary {
        height: 100vh;
    }
}

.error-boundary-header {
    align-self: flex-start;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}
