.ak-fieldset {
    display: flex;
    border: none;
    padding: 0;
    margin: 0;
    align-self: stretch;
    flex-direction: column;
    margin-bottom: 10px;

    .ak-fieldset-subset {
        display: flex;
        flex-direction: row;
        align-self: stretch;

        .ak-field {
            margin-right: 10px;

            &:last-child { margin-right: 0; }
        }
    }
}
